.hidden
{
    visibility: hidden;
}

.content-body 
{
    margin-left: 3%;
    margin-right: 3%;
}
.resize-image
{
    margin-top: 21px;
    max-width: 150px;
    max-height: auto;
}
.resize-image-xs
{
    margin-top: 21px;
    max-width: 75px;
    max-height: auto;
}

.post-body p > img
{
    margin-top: 4%;
    margin-bottom: 4%;
}